{% extends "vid_manager/base.html" %}
<!--CSSLINE{% load static %}-->
{% load bootstrap4 %}

{% block title %}{{ actor }}{% endblock %}

{% block header %}
<div>
	<div class="jumbotron bg-dark text-light pt-1 pb-3 text-center display-4 mt-5 mb-0">
		<h2>{{ actor }} {% for alias in actor.aliases %}/{{alias}}{% empty %}{% endfor %}</h2>
	</div>
	<div class="modal" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalDeleteVideo">Confirm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="text-theme" aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Please confirm that you would like to remove this Actor.
        	</div>
        	<div class="modal-footer">
        		<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
        		<form action="{% url 'delete_actor' actor.id %}" method="post">
        			{% csrf_token %}
        			<input type="submit" class="btn bg-danger btn-dark" value="Delete">
        		</form>
        	</div>
    	</div>
	</div>
</div>
{% if request.user.is_authenticated %}
<div class="mt-3">
	<a href="{% url 'new_actor_image' actor.id %}" class="btn btn-dark">Add Image</a>
	<a href="{% url 'new_video' actor.id %}" class="btn btn-dark">Add Video</a>
	<a class='btn btn-dark' href="#add_alias" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="add_alias">Add Alias</a>
	<a href="" class="btn btn-dark" data-toggle="modal" data-target="#centerconsole">Delete Actor</a>
	<div class="collapse" id="add_alias">
		<div class="card-body"> 
			<form id="alias_form" action="{% url 'new_alias' %}" method='post' class="form">
			{% csrf_token %}
			{% bootstrap_form alias_form %}
			{% buttons %}
				<button name="submit" class="btn btn-dark">Submit</button>
			{% endbuttons %}	
			</form>
		</div>
	</div>
</div>
<br>
{% endif %}
<div>
	{% if request.user.is_authenticated and request.user.projector.admin %}
		{% if new_videos > 0 %}
			<div><p>You have {{ new_videos }} new video{% if new_videos == 1 %}{% else %}'s{% endif %}! Add them <a href="{% url 'auto_add' actor.id %}">here</a>.</p></div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="messages">
{% if messages %}
	{% for message in messages %}
		<div {% if message.tags %} class="p-1 rounded bg-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}
</div>
<div>
	<div>
		<h3>Info</h3>
		<div>First Name: {{ actor.first_name }}</div>
		<div>Last Name: {{ actor.last_name }}</div>
	</div>
	<div>
		<h2><a href="{% url 'images' %}?actors={{actors}}">Images ({{ actor.actor_images.all.count }})</a>
	</div>
	<div class="w-100 d-inline-block overflow-hidden">
		<div class="row d-block overflow-auto text-center" style="white-space: nowrap;">
			{% for image in images %}
				{% if request.user.is_authenticated and request.user.projector.admin %}
					<a href="{% url 'image' image.id %}">
				{% endif %}
					<img src="{{ image.image.url }}" height="300px" width="auto">
				{% if request.user.is_authenticated and request.user.projector.admin %}
					</a>
				{% endif %}
			{% empty %}
			<p>Nothing here</p>
			{% endfor %}
		</div>
	</div>
	<h2>Recently Added <a href="{% url 'videos' %}?actors={{actor}}">Videos ({{ actor.videos.all.count }})</a></h2>
	<div class="d-inline-block">
		<div class='row'>
			{% for video in videos %}
				{% include 'vid_manager/video_preview.html' %}
			{% empty %}
				No videos have been added yet.
			{% endfor %}
		</div>
	</div>
</div>
<script>
	$("#alias_form").submit(function (e) {
		e.preventDefault();
		var serializedData = $(this).serialize();
		$.ajax({
			type: 'POST',
			url: "{% url 'new_alias' %}",
			data: serializedData,
			success: function (response) {
				//TODO make messages disappear if there are more than one. or allow to remove with 'X'
				$("#alias_form").trigger('reset');
				$("#id_first_name").focus();
				var instance = JSON.parse(response["instance"]);
				var fields = instance[0]["fields"];
				$('.jumbotron h2').append(`/${fields['first_name']} ${fields['last_name']}`);
			},
			error: function (response) {
				alert(response["responseJSON"]["error"]);
			}
		})
	})
</script>
{% endblock %}