{% extends "vid_manager/base.html" %}
<!--CSSLINE{% load static %}-->
{% load bootstrap4 %}

{% block title %}Actors{% endblock %}
{% block header %}
	<div class="jumbotron bg-dark pt-1 pb-3 text-light display-4 text-center">
		<h2>ACTORS: {{ actors.count }}</h2>
	</div>
{% endblock %}

{% block content %}
	<div>
		<a class='btn btn-dark' href="#add_user" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="add_user">Add Actor</a>
	</div>
	<div class="collapse" id="add_user">
		<div class="card-body"> 
		{% buttons %}
			<form id="actor_form" action="{% url 'new_actor' %}" method='post' class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button name="submit" class="btn btn-dark">Submit</button>
				{% endbuttons %}	
			</form>
		{% endbuttons %}
		</div>
	</div>
	<hr>
	<div class="messages">
	{% if messages %}
    	{% for message in messages %}
    	<div{% if message.tags %} class="bg-{{ message.tags }} p-2 mb-3"{% endif %}>{{ message }}</div>
    	{% endfor %}
	{% endif %}
	</div>
	<div id="actors" class="mx-auto">
		<div class="actorrow pb-2 row">
		{% for actor in actors %}			
			<div class="mb-4 pb-1 col-md-3 col-lg-2 col-sm-5 offset-sm-4 ml-auto">
				<a href="{% url 'actor' actor.id %}" >
					<div class="preview">
						<img src="{% if actor.img %}{{ actor.img.url }}{% else %}{% static 'vid_manager/blank_image.png'%}{% endif %}" height="auto" width="100%" alt="" class="mx-auto">
						<div class="img-top-left">{{ actor }}</div>
					</div>
				</a>
			</div>
			{% empty %}
				<div>
					No Actors have been added yet.
				</div>
			{% endfor %}
		</div>
	</div>
<script>
		$("#actor_form").submit(function (e) {
			e.preventDefault();
			var serializedData = $(this).serialize();
			$.ajax({
				type: 'POST',
				url: "{% url 'new_actor' %}",
				data: serializedData,
				success: function (response) {
					//TODO make messages disappear if there are more than one. or allow to remove with 'X'
					$("#actor_form").trigger('reset');
					$("#id_first_name").focus();
					var instance = JSON.parse(response["instance"]);
					var fields = instance[0]["fields"];
					var pk = instance[0]["pk"];
					var new_url = "{% url 'actor' 0 %}".replace('0', pk);
					$('.messages').empty();
					$('.messages').prepend(`<div class="rounded p-2 mb-3 bg-success">Actor "${fields['first_name']} ${fields['last_name']}"has been added.</div>`);
					$("#actors .actorrow").prepend(`<div class="mb-4 pb-1 col-md-3 col-lg-2 col-sm-5 offset-sm-4 ml-auto"><a href="${new_url}" ><div class="preview"><img src="{% static 'vid_manager/blank_image.png'%}" height="auto" width="100%" alt="" class="mx-auto">
						<div class="top-left">${fields['first_name']} ${fields['last_name']}</div></div></a></div>`);
				},
				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		})
</script>
{% endblock %}