{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Caompatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
		<meta name="format-detection" content="telephone=no"/>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'vid_manager/vman_style.css' %}">
	</head>
	<body>
		<div class="main-container">
		<!-- Static navbar -->
			<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-0 mb-0">
				<div class='float-left d-none d-md-inline'>
					<a class="navbar-brand" href="{% url 'index' %}">VMan</a>
				</div>
				<div class="navbar-header w-100 pb-3 pt-2">
					<button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false" aria-controls="navbarToggler" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbarToggler">
					<ul class="navbar-nav mt-2 mt-lg-0 md-float-right">
						{% if user.is_authenticated %}
						<li class="navitem"><h4><a class="nav-link py-0 d-md-none" href="{% url 'index' %}">VMan</a></h4></li>
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url  'videos' %}"><i class="bi-film"></i><p class="d-md-none float-right">Videos</p></a></li>
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url 'images' %}"><i class="bi-images"></i><p class="d-md-none float-right">Images</p></a></li>
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url 'tags' %}"><i class="bi-tags"></i><p class="d-md-none float-right">Tags</p></a></li>
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url 'actors' %}"><i class="bi-people"></i><p class="d-md-none float-right">Actors</p></a></li>
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url 'account' user.username %}" ><i class="bi-gear"></i><p class="d-md-none float-right">Settings</p></a></li>
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url 'logout' %}"><i class="bi-box-arrow-right"></i><p class="d-md-none float-right">Logout</p></a></li>
						{% else %}
						<li class="navitem mr-md-4"><a class="nav-link" href="{% url 'register' %}"><i class="bi-person-plus"></i><p class="d-md-none float-right">Register</p></a></li>
						<li class="navitem"><a class="nav-link" href="{% url 'login' %}"><i class="bi-box-arrow-in-left"></i>Login</a></li>
						{% endif %}
						<li class="nav-item m-md-3 search">
    						<form action="{% url 'search_results' %}" method='get'>
		    					<div class="form-row">
		    						<div class='col pr-0 s_content'>
			    						<input id="search" name="q" class="form-control s_content" type="search" placeholder="Search" autocomplete='off'>
			    						<div class="dropdown s_content" id="quick_search_results">{% include 'vid_manager/quick_search_results.html' %}</div>
									</div>
		    						<div class='mr-1 search-b'>
		    							<button class="btn btn-dark" type="submit"><i class="bi-search"></i></button>
									</div>
								</div>
    						</form>
    					</li>
					</ul>
				</div>
			</nav>
			<div class="container">
				<div class="page-header">
					{% block header %}{% endblock %}
				</div>
			</div>
			<div>
				<div class="pb-2">
					{% block content %}{% endblock %}
				</div>
			</div>
			<div class="container">
				<div class="page-footer sticky-bottom text-center mx-auto pb-2">
					<div class="card bg-secondary text-light" style="width: 100%;">
					</div>
				</div>
			</div>
		</div>
	</body>
	<style>
		.title {
			font-size: 20px;
		}

		.search {
			min-width:200px;
		}

		div.col input.form-control {
			border-radius: 15px 0 0 15px;
			border-color: var(--blank);
		}

		div.search-b button {
			border-radius: 0 15px 15px 0;
			border-color:var(--blank);
		}

		.navitem i, .navitem p {
				font-size: 25px;
		}
	</style>
	<script type="text/javascript" src="{% static 'vid_manager/search.js' %}"></script>
</html>
