{% extends "vid_manager/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit {{video.title}}{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light display-4 mt-5 pb-3 pt-1 mb-3 text-center">
		<h2>Edit Video</h2>
	</div>
	<div>Date Added: {{ video.date_added }}</div>
	<div>Bitrate: {{ video.bitrate }}</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="messages mb-3">
		{% if messages %}
    		{% for message in messages %}
    		<div {% if message.tags %} class="rounded p-1 bg-{{ message.tags }}"{% endif %}>{{ message }}</div>
 	   		{% endfor %}
	{% endif %}
	</div>
	<div class="text-dark">
		<form action="{% url 'edit_video' video.id %}" method='post' enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-dark">save changes</button>
			<a href="{{ video.path }}" class='btn btn-dark'>Video Source</a>
			<a href="{% url 'new_video_image' video.id %}" class="btn btn-dark">Add Image</a> 	
			<a href="{% url 'delete_images' video.id %}" class="btn btn-dark">Delete Images</a>
		{% endbuttons %}
		</form>
	</div>
</div>
<div class="d-flex row mx-1">
{% load bit_format %}
{% for image in video.image_set.all %}
	<div class="col-4 col-md-2 p-0">
		<div class="card mx-1">
			<div class="card-header">
				{{ image.image.size|bit_size }}	
			</div>
			<div class="card-body p-0">
				<img src="{{ image.image.url }}" width="100%" alt='No image'>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% load static %}
<script type="text/javascript" src="{% static 'vid_manager/edit_sort.js' %}"></script>
{% endblock %}
