{% extends "vid_manager/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit {{video.title}}{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light display-4 mt-5 pb-3 pt-1 mb-3 text-center">
		<h2>Edit Video</h2>
	</div>
	{% load bit_format %}
	<h4>Video Info</h4>
	<div class="row">
		<div class="col-auto px-1"><p class="border py-2 px-3">Date Added: {{ video.date_added }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Release Date: {{ video.release_date }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Bitrate: {{ video.bitrate }} ({{ video.bitrate|bit_rate }})</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Size: {{ video.size }} ({{ video.size|bit_size }})</p></div>		
		<div class="col-auto px-1"><p class="border py-2 px-3">Length: {{ video.length|time }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Images: {{ video.image_set.count }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Events: {{ video.event_set.count }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Actor #: {{ video.actors.count }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Tag #: {{ video.tags.count }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Width: {{ video.width }}</p></div>
		<div class="col-auto px-1"><p class="border py-2 px-3">Height: {{ video.height }}</p></div>
		{% if video.poster %}
		<div class="col-auto px-1"><p class="border py-2 px-3">Poster Dimensions: {{ video.poster.width }}x{{ video.poster.height}}</p></div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
<div class="modal" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modelDeleteImages">Confirm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Please confirm that you would like to remove this video.
        	</div>
        	<div class="modal-footer">
        		<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
        		<a href="{% url 'delete_images' video.id %}"><button type="button" class="btn bg-danger">Confirm</button></a>
        	</div>
    	</div>
	</div>
</div>
<div class="container">
	<div class="messages mb-3">
	{% if messages %}
    	{% for message in messages %}
    	<div {% if message.tags %} class="rounded p-1 bg-{{ message.tags }}"{% endif %}>{{ message }}</div>
 	   	{% endfor %}
	{% endif %}
	</div>
	<div class="text-dark">
		<form action="{% url 'edit_video' video.id %}" method='post' enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-dark"><i class="bi-save"></i></button>
			<a href="{{ video.path }}" class='btn btn-dark'><i class="bi-tv"></i></a>
			<a href="{% url 'new_video_image' video.id %}" class="btn btn-dark"><i class="bi-image mr-1"></i> <i class="bi-plus"></i></a> 	
			<a href="" class="btn btn-dark" data-toggle="modal" data-target="#centerconsole"><i class="bi-images mr-1"></i> <i class="bi-trash"></i></a>
		{% endbuttons %}
		</form>
	</div>
</div>
<div class="d-flex row mx-4 eventrow">
	{% for event in video.event_set.all %}
	<div id='{{ event.id }}' class="col-4 col-md-2 mb-3">
		<div class="card mx-1">
			<div class="card-header">
				{{ event }} - {{ event.time }}
				<a href="{% url 'delete_event' event.id %}" id="delete_event" class="float-right btn btn-xs btn-dark rounded-circle my-1 px-2" value="{{ event.id }}">
					<div class="px-1 mb-1">
						<span>&times;</span>
					</div>
				</a>
			</div>
			<div class="card-body p-0">
				<img src="{{ event.url }}" width="100%" alt='No image'>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="d-flex row mx-1">
{% for image in video.image_set.all %}
	<div class="col-4 col-md-2 p-0">
		<div class="card mx-1">
			<div class="card-header">
				{{ image.image.size|bit_size }}	
			</div>
			<div class="card-body p-0">
				<img src="{{ image.image.url }}" width="100%" alt='No image'>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% load static %}
<style>
input#id_public.form-check-input {
	left: 0px;
}
label.form-check-label {
	margin-left: 5px;
}
</style>
<script type="text/javascript" src="{% static 'vid_manager/edit_sort.js' %}"></script>
<script>
$(".eventrow").on('click', "a#delete_event", function (e) {
	e.preventDefault();
	var new_url = "{% url 'delete_event' 0 %}".replace('0', $(this).attr('value'));
	$.ajax({
		type: 'GET',
		url: new_url,
		success: function (response) {
			var instance = JSON.parse(response["instance"]);
			var fields = instance[0]["fields"];
			var pk = instance[0]["pk"];
			$('.messages').empty();
			$('.messages').prepend(`<div class="rounded p-1 bg-success">Event "${fields["name"]}" has been removed.</div>`);
			$('#'+pk).remove();
		},

		error: function (response) {
			alert(response["responseJSON"]["error"]);
		}
	})
})
</script>
{% endblock %}
