{% extends "vid_manager/base.html" %}
{% load bootstrap4 %}

{% block title %}Edit Image {% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light display-4 mt-5 pt-1 pb-3 text-center">
		<h2>Edit Image</h2>
	</div>
{% endblock %}

{% block content %}
<div class="container">
	<div>
		Dimensions: W x H {{ image.image.width }} x {{ image.image.height }}
		Size: {{ image.image.size }}
	</div>
	<div class="text-dark">
		<form action="{% url 'edit_image' image.id %}" method='post' enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-dark">save changes</button>
		{% endbuttons %}	
		</form>
		{% if user.is_authenticated and user.projector.admin %} 
		<form action="{% url 'delete_image' image.id %}" method='post'>
			{% csrf_token %}
			<input type="submit" class="btn btn-dark" value="delete">
		</form>
        {% endif %}
	</div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'vid_manager/edit_sort.js' %}"></script>
{% endblock %}