{% extends "vid_manager/base.html" %}
<!--CSSLINE{% load static %}-->
{% load bootstrap4 %}

{% block title %}Image{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light display-4 mt-5 py-2 text-center">
		{% for actor in actors %}
		<a href="{% url 'actor' actor.id %}">{{ actor }}{% if actor != actors.last %},{% endif %}</a>
		{% endfor %}
		{% if image.video %} - <a href="{% url 'video' image.video.id %}">{{image.video}}</a>{% endif %}
	</div>
{% endblock %}

{% block content %}
{% load static %}
<div class="messages list-group">
{% if messages %}
    {% for message in messages %}
    <div class="list-group-item bg-info" {% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}
</div>
<div class="container">
	<div class="w-100">
		<a href="{{ image.image.url }}"><img src="{{ image.image.url }}" class="d-block mw-100 mx-auto" height="{{ image.height_field}}"></a>
	</div>
	<hr>
	<a href="{% url 'edit_image' image.id %}" class="btn btn-dark">Edit Image</a>
	<div class='d-flex flex-row'>
		<div>
			<i class='glyphicon glyphicon-tag my-auto' style='font-size: 25px;'></i>
		</div>
		<form id="tag_form" action="{% url 'new_tag' %}" method='post' class="form">
			{% csrf_token %}
			{% bootstrap_form tagform %}
			<datalist id="tag_results">
				{% include 'vid_manager/tag_results.html' %}
			</datalist>
		</form>
	</div>
	<div id="tags">
		<div class="tagrow d-flex row">
		{% for tag in image.tags.all %}
			<div id="{{ tag.id }}" class='overflow-auto p-2 m-2 border border-dark rounded col-2'>
				<div class="d-inline">
					<a href="{% url 'tag' tag.id %}" class="d-inline float-left">
						<div>{{ tag }}</div>
					</a>
					<a href="{% url 'remove_tag' tag.id %}" id="remove_tag" class="d-inline float-right" value="{{ tag.id }}">
						<span class="btn btn-xs btn-dark">&times;</span>
					</a>
				</div>
			</div>
		{% empty %}
			<div id='no-tag' class='border border-dark rounded m-2 p-2'>No tags</div>
		{% endfor %}
	</div>
</div>
<script type="text/javascript" src="{% static 'vid_manager/tags.js' %}"></script>
<script>
	$(".tagrow").on('click', "a#remove_tag", function (e) {
		e.preventDefault();
		var new_url = "{% url 'remove_tag' 0 %}".replace('0', $(this).attr('value'));
		$.ajax({
			type: 'GET',
			url: new_url,
			success: function (response) {
				var instance = JSON.parse(response["instance"]);
				var fields = instance[0]["fields"];
				var pk = instance[0]["pk"];
				$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]}" has been removed.</div>`);
				$('#'+pk).remove();
			},

			error: function (response) {
				alert(response["responseJSON"]["error"]);
			}
		})
	});

	$("#tag_form").submit(function (e) {
		e.preventDefault();
		var serializedData = $(this).serialize();
		$.ajax({
			type: 'POST',
			url: "{% url 'new_tag' %}",
			data: serializedData,
			success: function (response) {
				if ($("#no-tag").length) {
					$("#no-tag").remove();
				}
				$("#tag_form").trigger('reset');
				$("#id_tag_name").focus();
				var instance = JSON.parse(response["instance"]);
				var fields = instance[0]["fields"];
				var pk = instance[0]["pk"];
				if ($("#tags .tagrow #0".replace('0',pk)).length < 1) {
					var new_url = "{% url 'tag' 0 %}".replace('0', pk);
					var rm_tag = "{% url 'remove_tag' 0 %}".replace('0', pk);
					$(".messages").empty();
					$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]||""}" has been added.</div>`);
					$("#tags .tagrow ").prepend(`<div id="${pk}" class='p-2 m-2 border border-dark rounded col-2 col-md-1'><div class="d-inline"><a href="${new_url}" class="d-inline float-left"><div>${fields["tag_name"]||""}</div></a><a href="${rm_tag}" id="remove_tag" class="d-inline float-right" value="${pk}"><span class="btn btn-xs btn-dark">&times;</span></a><div></div>`);
				} else {
					$(".messages").empty();
					$('.messages').prepend(`<div class="rounded p-1 bg-warning">Tag already exists.</div>`);
				}
			},

			error: function (response) {
				alert(response["responseJSON"]["error"]);
			}
		})
	});
</script>
{% endblock %}
