{% extends "vid_manager/base.html" %}
{% load bootstrap4 %}

{% block title %}Image{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light pt-1 pb-3 text-center display-4 mt-5 mb-0">
		{% for actor in actors %}
		<a class="text-light" href="{% url 'actor' actor.id %}">{{ actor }}{% if actor != actors.last %},{% endif %}</a>
		{% endfor %}
		{% if image.video %} - <a class="text-light" href="{% url 'video' image.video.id %}">{{image.video}}</a>{% endif %}
	</div>
{% endblock %}
{% block content %}
{% load static %}
<div class="container">
	<div class="messages list-group">
	{% if messages %}
		{% for message in messages %}
		<div class="list-group-item {% if message.tags %} bg-{{ message.tags }}{% endif %}">{{ message }}</div>
		{% endfor %}
	{% endif %}
	</div>
	<div class="w-100">
		<a href="{{ image.image.url }}"><img src="{{ image.image.url }}" class="d-block mx-auto" width="100%"></a>
	</div>
	<hr>
	<div class='d-flex flex-row'>
		<div>
			<i class='glyphicon glyphicon-tag mt-1' style='font-size: 25px;'></i>
		</div>
		<form id="tag_form" action="{% url 'new_tag' %}" method='post' class="form mx-3">
			{% csrf_token %}
			{% bootstrap_form tagform %}
			<datalist id="tag_results">
				{% include 'vid_manager/tag_results.html' %}
			</datalist>
		</form>
		<div>
			<a href="{% url 'edit_image' image.id %}" class="btn btn-dark">Edit Image</a>
		</div>
	</div>
	<div id="tags">
		<div class="row tagrow">
		{% for tag in image.tags.all %}
			{% include 'vid_manager/tag_tile.html' %}
		{% empty %}
			<div id='no-tag' class='border border-dark rounded m-2 p-2'>No tags</div>
		{% endfor %}
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'vid_manager/tags.js' %}"></script>
<script>
	$(".tagrow").on('click', "a#remove_tag", function (e) {
		e.preventDefault();
		var new_url = "{% url 'remove_tag' 0 %}".replace('0', $(this).attr('value'));
		$.ajax({
			type: 'GET',
			url: new_url,
			success: function (response) {
				var instance = JSON.parse(response["instance"]);
				var fields = instance[0]["fields"];
				var pk = instance[0]["pk"];
				$(".messages").empty();
				$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]}" has been removed.</div>`);
				$('#'+pk).remove();
			},

			error: function (response) {
				alert(response["responseJSON"]["error"]);
			}
		})
	});

	$("#tag_form").submit(function (e) {
		e.preventDefault();
		var serializedData = $(this).serialize();
		$.ajax({
			type: 'POST',
			url: "{% url 'new_tag' %}",
			data: serializedData,
			success: function (response) {
				if ($("#no-tag").length) {
					$("#no-tag").remove();
				}
				$("#tag_form").trigger('reset');
				$("#id_tag_name").focus();
				var instance = JSON.parse(response["instance"]);
				var fields = instance[0]["fields"];
				var pk = instance[0]["pk"];
				if ($("#tags .tagrow #0".replace('0',pk)).length < 1) {
					$(".messages").empty();
					$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]||""}" has been added.</div>`);
					$.get('tag_tile/'.concat(pk.toString()), function(result) {
						$("#tags .tagrow ").prepend(result);
					}, 'html')
				} else {
					$(".messages").empty();
					$('.messages').prepend(`<div class="rounded p-1 bg-warning">Tag already exists.</div>`);
				}
			},

			error: function (response) {
				alert(response["responseJSON"]["error"]);
			}
		})
	});
</script>
{% endblock %}
