{% extends "vid_manager/base.html" %}

{% block title %}VidM{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light pt-1 pb-3 text-center display-4 mt-5 mb-0">
		<h2>Welcome</h2>
	</div>
{% endblock %}

{% block content %}
<div class="container">
	{% if request.user.is_authenticated and request.user.projector.admin %}	
		{% if request.user.video_set.all.count > 0 %}
			<a class="text-dark text-center" href="{% url 'random_video' %}"><h2><i class="bi-big bi-shuffle"></i></h2></a>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th scope="row">Storage Used</th>
						<td>{{total}}</td>
					</tr>
					<tr>
						<th scope="row">Video Count</th>
						<td>{{ count }}</td>
					</tr>
					<tr>
						<th scope="row">Total Video Length</th>
						{% load bit_format %}
						<td>{{ tot_length|hours }}</td>
					</tr>
					<tr>
						<th scope="row">Image Count</th>
						<td>{{ image_count }}</td>
					</tr>
					<tr>
						<th scope="row">Actor Count</th>
						<td>{{ actor_count }}</td>
					</tr>
				</tbody>
			<table>
		{% else %}
			<h2>Hello. Not much to do here.</h2>
		{% endif %}
		{% if graphs %}
		<div class="row">
			<div class="col-md-6">
			{{ graphs.res_graph|safe }}
			</div>
			<div class="col-md-6">
			{{ graphs.res_graph_1|safe }}
			</div>
		</div>
		<div>
			{{ graphs.act_graph|safe }}
		</div>
		<div>
			{{ graphs.tag_graph|safe }}
		</div>
		{% endif %}
		<style>
		.js-plotly-plot .plotly svg a {
			color:black;
			fill:black;
		}
		</style>
	{% else %}
	<div class="text-dark">
		<h2>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a></h2>
	</div>
	{% endif %}
</div>
{% endblock %}