{% extends "vid_manager/base.html" %}
<!--CSSLINE{% load static %}-->

{% block title %}VidM{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light display-4 py-2 mt-5 text-center">
		<h2>Welcome to HELL</h2>
	</div>
{% endblock %}

{% block content %}
<div class="container">
	{% if request.user.is_authenticated and request.user.projector.admin %}
	<div>Total Added <p>{{ total }}</p></div>
	<a href="{% url 'random_video' %}"><h2>Random Vid</h2></a>
	{% elif request.user.is_authenticated %}
		<h2>Hello. Not much to do here.</h2>
	{% else %}
	<div class="text-dark">
		<h2>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a></h2>
	</div>
	{% endif %}
</div>
{% endblock %}