<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-0 mb-0">
    <div class='float-left d-none d-md-inline'>
        <a class="navbar-brand" href="{% url 'index' %}">VMan</a>
    </div>
    <div class="navbar-header w-100 pb-3 pt-2">
        <button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false" aria-controls="navbarToggler" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mt-0 md-float-right">
            {% if user.is_authenticated %}
            <li class="navitem"><h4><a class="nav-link py-0 d-md-none" href="{% url 'index' %}">VMan</a></h4></li>
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url  'videos' %}"><i class="bi-film"></i><p class="d-md-none float-right">Videos</p></a></li>
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url 'images' %}"><i class="bi-images"></i><p class="d-md-none float-right">Images</p></a></li>
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url 'tags' %}"><i class="bi-tags"></i><p class="d-md-none float-right">Tags</p></a></li>
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url 'actors' %}"><i class="bi-people"></i><p class="d-md-none float-right">Actors</p></a></li>
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url 'account' user.username %}" ><i class="bi-gear"></i><p class="d-md-none float-right">Settings</p></a></li>
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url 'logout' %}"><i class="bi-box-arrow-right"></i><p class="d-md-none float-right">Logout</p></a></li>
            {% else %}
            <li class="navitem mr-md-4"><a class="nav-link" href="{% url 'register' %}"><i class="bi-person-plus"></i><p class="d-md-none float-right">Register</p></a></li>
            <li class="navitem"><a class="nav-link mr-md-2" href="{% url 'login' %}"><i class="bi-box-arrow-in-left"></i><p class="d-md-none float-right">Login</p></a></li>
            {% endif %}
            <li class="nav-item m-md-3 search">
                <form action="{% url 'search_results' %}" method='get'>
                    <div class="form-row">
                        <div class='col pr-0 s_content'>
                            <input id="search" name="q" class="form-control s_content" type="search" placeholder="Search" autocomplete='off'>
                            <div class="dropdown s_content position-absolute w-100" id="quick_search_results">{% include 'vid_manager/quick_search_results.html' %}</div>
                        </div>
                        <div class='mr-1 search-b'>
                            <button class="btn btn-dark" type="submit"><i class="bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>