{% extends "vid_manager/base.html" %}
<!--CSSLINE{% load static %}-->
{% load bootstrap4 %}

{% block title %}New Video{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light display-4 mt-5 pt-1 pb-3 text-center">
		<h2>NEW VIDEO</h2>
	</div>
{% endblock %}

{% block content %}
	{% if messages %}
		<div class="list-group">
    	{% for message in messages %}
    		<div class="list-group-item bg-info" {% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</div>
    	{% endfor %}
		</div>
	{% endif %}
	<div class="text-dark">
		<form action="{% url 'new_video' %}" method='post' class="form" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
				<button name="submit" class="btn btn-dark">add video</button>
			{% endbuttons %}	
		</form>
	</div>
{% endblock %}