{% extends "vid_manager/base.html" %}
{% load django_bootstrap5 %}

{% block title %}New Video{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light pt-1 pb-3 text-center display-4 mt-5 mb-0">
		<h2>New Video</h2>
	</div>
	<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
	<script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
	<link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
	<link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet"/>
	<link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
	<script src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="padding-bottom: 10%">
	{% if messages %}
		<div class="list-group">
    	{% for message in messages %}
    		<div class="list-group-item bg-info" {% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</div>
    	{% endfor %}
		</div>
	{% endif %}
	<div class="text-dark">
		<form action="{% url 'new_video' %}" method='post' class="form" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% bootstrap_form video_source_form %}
			<div id="add_source" class="w-100 text-right my-2"><i class="bi bi-plus"></i></div>
			{% bootstrap_button button_type="submit" button_class="btn btn-dark" content="Add Video" %}
		</form>
	</div>
	<div>
		<div class="d-md-flex flex-row d-block">
			<div class="d-flex px-0 col justify-content-end">
				<ul id="info" class="list-group flex-row">
				</ul>
			</div>
		</div>
		<div class="embed-responsive embed-responsive-16by9">
			<video preload="metadata" playsinline id='vid_player' class="video-js vjs-big-play-centered embed-responsive-item" data-setup='{"playbackRates": [1, 1.5, 2]}' controls range poster="{% load static %}{% static 'vid_manager/blank_poster.png' %}">
				{% load ms %}
				<source id='videosource' src="/" type="video/mp4">
			</video>
		</div>
	</div>
</div>
{% load static %}

<style>
	input#id_public.form-check-input {
		left: 0px;
	}
	label.form-check-label {
		margin-left: 5px;
	}
	label[for="id_file_path"] {
		width:100%;
	}
	label[for="id_file_path"] {
		width:100%;
	}
</style>
<script type="text/javascript" src="{% static 'vid_manager/edit_sort.js' %}"></script>
<script>

$("select#id_file_path").parent().append(`<div class="col-1 pr-0 text-right"><i class="bi bi-x" onclick='remove(this)'></i></div>`)
$("select#id_file_path").parent().attr('class','form-group row mx-1')

function remove(r) {
	if ($("[id='id_file_path']").length > 1) {
		r.parentNode.parentNode.remove()
	}
}

var media_server = "{{ 'get' | media_server }}" + 'videos/';
$('video > source')[0].src = new_url();

document.body.onload = function() {
	v = $('video')[0]
	v.src = new_url();
	get_info();
}

function new_url() {
	return media_server + $('select#id_file_path option:selected')[0].innerHTML;
}

$('#id_file_path').on('change', function(e) {
	video = $('video');
	video.trigger('pause');
  	video[0].src = new_url();
	e.preventDefault();
	get_info();
	video[0].load();
	video[0].play();
})

function get_info() {
	var new_vurl = "{% url 'new_video_info' %}";
	$.ajax({
		type: 'GET',
		url: new_vurl,
		data: $('select#id_file_path option:selected')[0].value,
		success: function (response) {
			$('#info').empty();
			$('#info').append(response);
		},

		error: function (response) {
			alert(response["responseJSON"]["error"]);
		}
	})
}

$("#add_source").on('click', function(e) {
	e.preventDefault();
	$.ajax({
		type: 'GET',
		url: "{% url 'new_video_source' %}",
		success: function (response) {
			let d = $("<div class='form-group row mx-2'></div>"),
				l = $('<label for="id_file_path">File path</label>')
				rem = $(`<div><i class="bi bi-x" onclick='remove(this)'></i></div>`).addClass("col-1 pr-0 text-right")
			d.append(l);
			d.append(response);
			d.append(rem);
			let cur = $("#add_source")[0]
			cur.parentNode.insertBefore(d[0], cur)
		},

		error: function (response) {
			alert(response["responseJSON"]["error"]);
		}
	})
})
</script>
{% endblock %}