{% extends "vid_manager/base.html" %}
{% load bootstrap4 %}

{% block title %}{{ video.title }}{% endblock %}

{% block header %}
	<div class="jumbotron bg-dark text-light pt-1 pb-3 text-center display-4 mt-5 mb-0">
		<h2>{{ video.title }}
			{% if video.poster %}
			<div class='float-right'>
				<a href="{{video.poster.url}}"><i class='glyphicon glyphicon-picture my-auto' style='font-size: 25px;'></i></a>
			</div>
			{% endif %}
		</h2>
	</div>
	{% load static %}
	<style>
		select#tag_form {
			-webkit-appearance: none;
		}
	</style>
{% endblock %}

{% block content %}
<div class="modal" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalDeleteVideo">Confirm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Please confirm that you would like to remove this video.
        	</div>
        	<div class="modal-footer">
        		<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
        		<a href="{% url 'delete_video' video.id %}"><button type="button" class="btn bg-danger">Confirm</button></a>
        	</div>
    	</div>
	</div>
</div>
<div class="container">
	<div class="messages list-group">
		{% if messages %}
    		{% for message in messages %}
    		<div class="list-group-item {% if message.tags %}bg-{{ message.tags }}{% endif %}">{{ message }}</div>
	    	{% endfor %}
		{% endif %}
	</div>
	<video style="width:100%;" preload="metadata" id='vid_player' controls range poster="{% if video.poster %}{{ video.poster.url }}{% elif events.first %}{{events.first.url}}{% endif%}">
    	<source src="{{ video.path }}" type="video/mp4">
	</video>
	{% if video.event_set.all.count > 0 %}
	<div>
		Events:
		<div class="d-flex flex-row overflow-auto">
		{% for event in video.event_set.all %}
			<a href='#' class="mr-2">
				<div class="preview">
					<img height='100px' src="{{ event.url }}" onclick="jump('{{event.seconds}}')">
					<div class="top-left">
						{{event.name}} 
					</div>
					<div class="bottom-right">
						{{ event.time}}
					</div>
				</div>
			</a>
		{% empty %}
		{% endfor %}
		</div>
		<hr>
	</div>
	{% endif %}
	<div>
		<div class="d-md-flex flex-row d-block">
			<div class="list-group flex-row">
				{% for actor in video.actors.all %}
				<a href="{% url 'actor' actor.id %}"><div class='p-2 m-2 border border-dark rounded text-center'>{{actor}}</div></a>
				{% empty %}
					<div class="border border-dark rounded m-2 p-2">No artists have been identified in this video.</div>
				{% endfor %}
			</div>
			<div class="d-flex col justify-content-end">
				<ul class="list-group flex-row">
					<div>
						<li class="list-group-item m-2 p-2 border border-dark rounded">{{ video.width }}x{{video.height}}</li>
					</div>
					<div>
						<li class="list-group-item m-2 p-2 border border-dark rounded">{{ video.size_neat }}</li>
					</div>
					<div>
						<li class="list-group-item m-2 p-2 border border-dark rounded">{{ video.time }}</li>
					</div>
					<div>
						<li class="list-group-item m-2 p-2 border border-dark rounded">{{ video.b_rate }}</li>
					</div>
					{% if video.release_date %}
					<div>
						<li class="list-group-item m-2 p-2 border border-dark rounded">{{ video.release_date }}</li>
					</div>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class='d-flex flex-row'>
			<div>
				<i class='glyphicon glyphicon-tag mt-1 mr-3' style='font-size: 25px;'></i>
			</div>
			<form id="tag_form" action="{% url 'new_tag' %}" method='post' class="form mb-0">
				{% csrf_token %}
				{% bootstrap_form tagform %}
				<datalist id="tag_results">
					{% include 'vid_manager/tag_results.html' %}
				</datalist>
			</form>
		</div>
		<div class="mx-4">
			<div id="tags">
				<div class="tagrow row justify-content-left">
					{% for tag in video.tags.all %}				
						{% include 'vid_manager/tag_tile.html' %}
					{% empty %}
					<div id='no-tag' class='border border-dark rounded m-2 p-2'>No tags</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="my-3">
		<a class="btn btn-dark mb-3" href="{% url 'edit_video' video.id %}">Edit Video</a>
		<a class="btn btn-dark mb-3" href="{% url 'new_video_image' video.id %}">Add Image</a>
		<a class='btn btn-dark mb-3' href="#add_event" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="add_event">Add Event</a>
		<a href="" class="btn btn-dark mb-3" data-toggle="modal" data-target="#centerconsole">Delete Video</a>
		<div class="collapse" id="add_event">
			<div class="card-body"> 
				<form action="{% url 'new_event' video.id %}" method='post' class="form">
					{% csrf_token %}
					{% bootstrap_form eventform %}
					{% buttons %}
						<button name="submit" class="btn btn-dark">Submit</button>
					{% endbuttons %}	
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'vid_manager/tags.js' %}"></script>
	<script>
		function jump(time) {
			var myvideo = document.getElementById('vid_player');
			event.preventDefault();
	    	myvideo.currentTime = time;
    		myvideo.play();
		}

		$(".tagrow").on('click', "a#remove_tag", function (e) {
			e.preventDefault();
			var new_url = "{% url 'remove_tag' 0 %}".replace('0', $(this).attr('value'));
			$.ajax({
				type: 'GET',
				url: new_url,
				success: function (response) {
					var instance = JSON.parse(response["instance"]);
					var fields = instance[0]["fields"];
					var pk = instance[0]["pk"];
					$('.messages').empty();
					$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]}" has been removed.</div>`);
					$('#'+pk).remove();
				},

				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		})

		$(".flex-row #tag_form").submit(function (e) {
			e.preventDefault();
			var serializedData = $(this).serialize();
			$.ajax({
				type: 'POST',
				url: "{% url 'new_tag' %}",
				data: serializedData,
				success: function (response) {
					if ($("#no-tag").length) {
						$("#no-tag").remove();
					}
					$("#tag_form").trigger('reset');
					$("#id_tag_name").focus();
					var instance = JSON.parse(response["instance"]);
					var fields = instance[0]["fields"];
					var pk = instance[0]["pk"];
					if ($("#tags .tagrow #0".replace('0',pk)).length < 1) {
						var new_url = "{% url 'tag' 0 %}".replace('0', pk);
						var rm_tag = "{% url 'remove_tag' 0 %}".replace('0', pk);
						$(".messages").empty();
						$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]||""}" has been added.</div>`);
						$.get('tag_tile/'.concat(pk.toString()), function(result) {
							$("#tags .tagrow ").append(result);
						}, 'html')
					} else {
						$(".messages").empty();
						$('.messages').prepend(`<div class="rounded p-1 bg-warning">Tag already exists.</div>`);
					}
				},

				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		});
	</script>
	<div class="w-100 d-inline-block">
		<div class='row d-block overflow-auto text-center' style="white-space: nowrap;">
			{% for image in video.image_set.all %}
			<a href="{% url 'image' image.id %}"><img src="{{ image.image.url }}" height="300px"></a>
			{% empty %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}