{% extends "vid_manager/base.html" %}
<!--CSSLINE{% load static %}-->
{% load bootstrap4 %}

{% block title %}Videos{% endblock %}
{% block header %}
<div class="jumbotron bg-dark text-light py-2 display-4 text-center">
	<h2>{% if actor %}{{ actor }}{% elif tag %}{{ tag }}{% endif %} Videos: {{ total }}</h3>
</div>
{% load static %}
{% endblock %}

{% block content %}
<div class='my-2'>
	<a class="btn btn-dark" href="{% url 'new_video' %}">Add Video</a>
	<div class="dropdown float-right">
		<button class="btn btn-dark dropdown-toggle" type="button" id="ddM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
		 <div class="dropdown-menu" aria-labelledby="ddM">
    		<a class="dropdown-item {% if 'title' in sort %}active{% endif %}" href="?sort={% if sort == 'title' %}-{% endif %}title">{% if sort == 'title' %}-{% endif %}Title</a>
    		<a class="dropdown-item {% if 'actors' in sort %}active{% endif %}" href="?sort={% if sort == 'actors' %}-{% endif %}actors">{% if sort == 'actors' %}-{% endif %}Actors</a>
    		<a class="dropdown-item {% if 'length' in sort %}active{% endif %}" href="?sort={% if sort == 'length' %}-{% endif %}length">{% if sort == 'length' %}-{% endif %}Length</a>
    		<a class="dropdown-item {% if 'size' in sort %}active{% endif %}" href="?sort={% if sort == 'size' %}-{% endif %}size">{% if sort == 'size' %}-{% endif %}Size</a>
    		<a class="dropdown-item {% if 'date_added' in sort %}active{% endif %}" href="?sort={% if sort == 'date_added' %}-{% endif %}date_added">{% if sort == 'date_added' %}-{% endif %}Date Added</a>
    		<a class="dropdown-item {% if 'release_date' in sort %}active{% endif %}" href="?sort={% if sort == 'release_date' %}-{% endif %}release_date">{% if sort == 'release_date' %}-{% endif %}Release Date</a>
    		<a class="dropdown-item {% if 'bitrate' in sort %}active{% endif %}" href="?sort={% if sort == 'bitrate' %}-{% endif %}bitrate">{% if sort == 'bitrate' %}-{% endif %}Bitrate</a>
  		</div>
	</div>
</div>
<div class='d-flex row justify-content-center'>
	<span class="current">
		Page {{ videos.number }} of {{ videos.paginator.num_pages }}
	</span>
</div>
<hr>
{% if messages %}
	<ul class="messages">
   	{% for message in messages %}
    	<li {% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</li>
   	{% endfor %}
	</ul>
{% endif %}
<div class="pagination d-flex justify-content-center">
	<span class="step-links">
		{% if videos.has_previous %}
			<a class="btn btn-sm btn-dark" href="?page=1&{% if sort %}sort={{sort}}{% endif %}">&laquo; first</a>
			<a class="btn btn-sm btn-dark" href="?page={{ videos.previous_page_number }}{% if sort %}&sort={{sort}}{% endif %}">previous</a>
		{% endif %}
		{% if videos.has_next %}
			<a class="btn btn-sm btn-dark" href="?page={{ videos.next_page_number }}{% if sort %}&sort={{sort}}{% endif %}">next</a>
			<a class="btn btn-sm btn-dark" href="?page={{ videos.paginator.num_pages }}{% if sort %}&sort={{sort}}{% endif %}">last &raquo;</a>
		{% endif %}
	</span>
</div>
<div class="text-dark">
	<div class="row">
	{% for video in videos %}
		{% include 'vid_manager/video_preview.html' %}
	{% empty %}
		<div class="list-group-item">
			No videos have been added yet.
		</div>
	{% endfor %}
	</div>
</div>
<hr>
<div class="d-flex justify-content-center">
	<span class="current">
		Page {{ videos.number }} of {{ videos.paginator.num_pages }}
	</span>
</div>
<div class="pagination d-flex justify-content-center">
	<span class="step-links">
		{% if videos.has_previous %}
			<a class="btn btn-sm btn-dark" href="?page=1{% if sort %}&sort={{sort}}{% endif %}">&laquo; first</a>
			<a class="btn btn-sm btn-dark" href="?page={{ videos.previous_page_number }}{% if sort %}&sort={{sort}}{% endif %}">previous</a>
		{% endif %}
		{% if videos.has_next %}
			<a class="btn btn-sm btn-dark" href="?page={{ videos.next_page_number }}{% if sort %}&sort={{sort}}{% endif %}">next</a>
			<a class="btn btn-sm btn-dark" href="?page={{ videos.paginator.num_pages }}{% if sort %}&sort={{sort}}{% endif %}">last &raquo;</a>
		{% endif %}
	</span>
</div>
{% endblock %}