{% extends "vid_manager/base.html" %}
{% load bootstrap4 %}

{% block title %}{{ video.title }}{% endblock %}

{% block header %}
	<div class="jumbotron {% if not video.postr.image_color.color %}bg-dark {% endif %} video-text p-auto text-center display-4 mt-5 mb-0 pt-2 pb-3" style="{% if video.postr.image_color.color %}background-color:rgb({{video.postr.image_color.color}}){% endif%}">
		<h2>
			<div class="mw-100">
				<div class="col">
				{% if video.get_previous_by_date_added %}
					<a class="text-light float-left" href="{% url 'video' video.get_previous_by_date_added.id %}"><i class='bi-arrow-left-circle my-auto' style='font-size: 25px;'></i></a>
				{% endif %}
					{{ video.title }}
				{% if video.get_next_by_date_added %}
					<a class="text-light float-right" href="{% url 'video' video.get_next_by_date_added.id %}"><i class='bi-arrow-right-circle' style='font-size: 25px;'></i></a>
				{% endif %}
				</div>
			</div>
		</h2>
	</div>
	<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
	<script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
	<link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
	<link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet"/>
	<link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
	<script src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vid_manager/preview.css' %}">
	<style>
		select#tag_form {
			-webkit-appearance: none;
		}
		img.video_image {
			height:300px;
			width:auto;
		}

		div.video-text {
			color: white;
			text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
			letter-spacing: 2px;
			text-decoration:none;
		}

		.video-js .vjs-control-bar { 
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}

	</style>
{% endblock %}

{% block content %}
<div class="modal" id="centerconsole" tabindex="-1" role="dialog" aria-labelledby="centerTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalDeleteVideo">Confirm</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Please confirm that you would like to remove this video.
        	</div>
        	<div class="modal-footer">
				<div>
	        		<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
    	    		<a href="{% url 'delete_video' video.id %}"><button type="button" class="btn bg-danger">Confirm</button></a>
				</div>
			</div>
    	</div>
	</div>
</div>
<div class="container">
	<div class="messages list-group">
		{% if messages %}
    		{% for message in messages %}
    		<div class="list-group-item {% if message.tags %}bg-{{ message.tags }}{% endif %}">{{ message }}</div>
	    	{% endfor %}
		{% endif %}
	</div>
	{% with poster=video.postr %}
	<video style="width: 100%; max-height: 75vh;" playsinline preload="metadata" id='vid_player' class="video-js vjs-big-play-centered" data-setup='{"playbackRates": [1, 1.5, 2]}' controls range poster="{% if poster %}{{ poster.path }}{% elif events.first %}{{events.first.url}}{% else %}{% load static %}{% static 'vid_manager/blank_poster.png' %}{% endif %}">
		{% for sc in video.videosource_set.all %}
			<source src="{{sc.path}}" type="video/mp4" value="{{sc.id}}" label="{{sc.height}}p" {% if forloop.last %}selected=true{% endif %}>
		{% endfor %}
	</video>
	{% endwith %}
	{% if video.event_set.all.count > 0 %}
	<div>
		Events:
		<div class="d-flex flex-row overflow-auto">
		{% for event in video.event_set.all %}
			<a href='#' class="mr-2">
				<div class="preview">
					<img height='100px' src="{{ event.url }}" onclick="jump('{{event.seconds}}')">
					<div class="top-left">
						{{event.name}} 
					</div>
					<div class="bottom-right">
						{{ event.time }}
					</div>
				</div>
			</a>
		{% empty %}
		{% endfor %}
		</div>
		<hr>
	</div>
	{% endif %}
	<div>
		<div class="d-md-flex flex-row d-block">
			<div class="list-group flex-row">
				{% for actor in video.actors.all %}
				<a class="text-dark" href="{% url 'actor' actor.id %}"><div class='p-2 m-2 border border-dark rounded text-center'>{{actor}}</div></a>
				{% empty %}
					<div class="border border-dark rounded m-2 p-2">No artists identified</div>
				{% endfor %}
				<div>
					<li class="list-group-item m-2 p-2 border border-dark rounded"><a class="text-dark" href="{% url 'random_video' %}"><i class="bi-shuffle px-3"></i></a></li>
				</div>
			</div>
			<div class="d-flex px-0 col justify-content-end">
				<ul id="info" class="list-group flex-row">
				</ul>
			</div>
		</div>
		<div class='d-flex flex-row'>
			<div>
				<i class='glyphicon glyphicon-tag mt-1 mr-3' style='font-size: 25px;'></i>
			</div>
			<form id="tag_form" action="{% url 'new_tag' %}" method='post' class="form mb-0">
				{% csrf_token %}
				{% bootstrap_form tagform %}
				<datalist id="tag_results">
					{% include 'vid_manager/tag_results.html' %}
				</datalist>
			</form>
		</div>
		<div class="mx-4">
			<div id="tags">
				<div class="tagrow row justify-content-left">
					{% for tag in video.tags.all %}				
						{% include 'vid_manager/tag_tile.html' %}
					{% empty %}
					<div id='no-tag' class='border border-dark rounded m-2 p-2'>No tags</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% if request.user.is_authenticated and request.user == video.owner and request.user.projector.admin %}
	<div class="my-3">
		<a class="btn btn-dark mb-3" href="{% url 'edit_video' video.id %}"><i class="bi bi-pencil-square"></i></a>
		<a class="btn btn-dark mb-3" href="{% url 'new_video_image' video.id %}"><i class="bi bi-image"></i> <i class="bi bi-plus"></i></a>
		<a class='btn btn-dark mb-3' href="{% url 'new_video_source' video.id %}"><i class="bi bi-film"></i><i class="bi bi-plus"></i></a>
		<a class='btn btn-dark mb-3' href="#add_event" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="add_event"><i class="bi bi-calendar-plus mr-1"></i></a>
		<a href="" class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#centerconsole"><i class="bi bi-trash mr-1"></i></a>
		<div class="collapse" id="add_event">
			<div class="card-body"> 
				<form action="{% url 'new_event' video.id %}" method='post' class="form">
					{% csrf_token %}
					{% bootstrap_form eventform %}
					{% buttons %}
						<button name="submit" class="btn btn-dark">Submit</button>
					{% endbuttons %}	
				</form>
			</div>
		</div>
	</div>
	<div id="console"></div>
	<script type="text/javascript" src="{% static 'vid_manager/tags.js' %}"></script>
	{% endif %}
	<script>
		//log(document.querySelector('video'))
		//get_info($("#vid_player")[0].currentSrc)

		videojs("vid_player", {}, function() {
			var player = this;
			player.controlBar.addChild('QualitySelector', {}, this.children_.length);
		});
		
		get_info(Array.from($("source"))[Array.from($("source")).length -1].src)
		
		function log(text) {
			$("#console").empty()	
			if (typeof(text)=== 'object' ){
				for(var key in text) {
					var t = 'key: ' + key + '\n' + 'value: ' + text[key];
					$("#console").append(`<p>${t}</p>`)
				}
			} else {
				$("#console").append(`<p>${text}</p>`)
			}
		}

		function get_info(src) {
			var get_info = "{% url 'video_info' 0 %}".replace('0', Array.from($("source")).find((element) => element.src === src).getAttribute('value'));
			$.ajax({
				type: 'GET',
				url: get_info,
				success: function(response) {
					let aspect_ratio = response.substring(response.indexOf('*start*')+7,response.indexOf('*end*'))
					let w = parseInt(aspect_ratio.substring(0,aspect_ratio.indexOf(':')))
					let h = parseInt(aspect_ratio.substring(aspect_ratio.indexOf(':')+1))
					if (w > h) {
						videojs("vid_player").aspectRatio(aspect_ratio)
					}
					$("#info").empty()
					$('#info').append(response)
				},
				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		}

		function jump(time) {
			var myvideo = document.getElementById('vid_player');
			event.preventDefault();
	    	myvideo.currentTime = time;
    		myvideo.play();
		}

		$(".tagrow").on('click', "a#remove_tag", function (e) {
			e.preventDefault();
			var new_url = "{% url 'remove_tag' 0 %}".replace('0', $(this).attr('value'));
			$.ajax({
				type: 'GET',
				url: new_url,
				success: function (response) {
					var instance = JSON.parse(response["instance"]);
					var fields = instance[0]["fields"];
					var pk = instance[0]["pk"];
					$('.messages').empty();
					$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]}" has been removed.</div>`);
					$('#'+pk).remove();
				},

				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		})

		$(".flex-row #tag_form").submit(function (e) {
			e.preventDefault();
			var serializedData = $(this).serialize();
			$.ajax({
				type: 'POST',
				url: "{% url 'new_tag' %}",
				data: serializedData,
				success: function (response) {
					if ($("#no-tag").length) {
						$("#no-tag").remove();
					}
					$("#tag_form").trigger('reset');
					$("#id_tag_name").focus();
					var instance = JSON.parse(response["instance"]);
					var fields = instance[0]["fields"];
					var pk = instance[0]["pk"];
					if ($("#tags .tagrow #0".replace('0',pk)).length < 1) {
						var new_url = "{% url 'tag' 0 %}".replace('0', pk);
						var rm_tag = "{% url 'remove_tag' 0 %}".replace('0', pk);
						$(".messages").empty();
						$('.messages').prepend(`<div class="rounded p-1 bg-success">Tag "${fields["tag_name"]||""}" has been added.</div>`);
						$.get('tag_tile/'.concat(pk.toString()), function(result) {
							$("#tags .tagrow ").append(result);
						}, 'html')
					} else {
						$(".messages").empty();
						$('.messages').prepend(`<div class="rounded p-1 bg-warning">Tag already exists.</div>`);
					}
				},

				error: function (response) {
					alert(response["responseJSON"]["error"]);
				}
			})
		});
	</script>
	<div class="w-100 d-inline-block">
		<div><h3>Images (<a href="{% url 'images' %}?video={{video.id}}">{{ video.images.all.count }}</a>)</h3></div>
		<div class='row d-block overflow-auto text-center' style="white-space: nowrap;">
			{% for image in video.images.all|slice:":10" %}
			<a href="{% url 'image' image.id %}"><img src="{{ image.path }}" width="200px"></a>
			{% empty %}
			{% endfor %}
		</div>
	</div>
	<h4>Related Videos</h4>
	<div class="w-100 d-inline-block" height="300px">
		<div class='overflow-auto text-center' style="white-space: nowrap;">
			{% for video in related_vids %}
				{% include "vid_manager/related_videos.html" %}
			{% empty %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}