{% load bit_format %}
<div clas="col-auto">
    <li aspect-ratio="*start*{{source.width}}:{{source.height}}*end*" class="list-group-item m-2 p-2 border border-dark rounded">{{ source.width}}x{{source.height}} </li>
</div>
<div clas="col-auto">
    {% load bit_format %}
    <li class="list-group-item m-2 p-2 border border-dark rounded">{{source.size|bit_size}}</li>
</div>
<div clas="col-auto">
    <li class="list-group-item m-2 p-2 border border-dark rounded">{{source.length|time}}</li>
</div>
<div clas="col-auto">
    <li class="list-group-item m-2 p-2 border border-dark rounded"> {{source.bitrate|bit_rate}} </li>
</div>
<div clas="col-auto">
    <li class="list-group-item m-2 p-2 border border-dark rounded"> {{source.framerate.normalize }} fps</li>
</div>
{% if source.video.release_date %}
<div clas="col-auto">
    <li class="list-group-item m-2 p-2 border border-dark rounded">{{ source.video.release_date }}</li>
</div>
{% endif %}
{% load static %}
<script type="text/javascript" src="{% static 'vid_manager/video_info.js' %}"></script>
