
/*Add scrolling inside of video preview keeping the scroll bar invisible next two functions*/
.authors {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.authors::-webkit-scrollbar {
  display: none;
}

.preview {
  position: relative;
  text-align: center;
  color: white;
  border-right: 1px solid slategrey;
  border-left: 1px solid slategrey;
}

div.related-vids {
  width: 500px;
}

.top-video-row {
  border:slategrey 1px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
}

.bottom-video-row {
  border:slategrey 1px solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
}

.preview-text, a.preview-text:link, a.preview-text:visited, a.preview-text:hover {
  color: white;
  font-weight:900;
  font-size:20px;
  word-break: break-word;
	-webkit-text-stroke: 1px black;
  letter-spacing: 1px;
  text-decoration:none;
}

div.videos-size img {
  width: 100%;
}

.bottom-left {
  text-shadow: none;
  position: absolute;
  bottom: 4px;
  left: 8px;
}
