{% extends "vid_manager/base.html" %}
{% load django_bootstrap5%}

{% block title %}
Edit Account
{% endblock %}

{% block header %}
<div class='jumbotron mt-3 bg-dark text-light pt-1 pb-3 text-center'>
	<h2>Edit Account</h2>
</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="card">
		<div class="card-body">
			<form method="post" action="{% url 'edit_account' request.user.username %}">
		    {% csrf_token %}
	    	{% bootstrap_form form %}
	    	{% bootstrap_button button_type="submit" content="Save" button_class="btn btn-dark" %}
			</form>
		</div>
	</div>
</div>
{% endblock %}