{% extends "vid_manager/base.html" %}
{% load bootstrap4%}

{% block title %}
Change Password
{% endblock %}

{% block header %}
<div class="jumbotron mt-3 bg-dark text-light">
	<h1>Change Password</h1>
</div>
{% endblock %}

{% block content %}
 <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-dark">update password</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'index' %}"/>
</form>
{% endblock %}
