{% extends "vid_manager/base.html" %}
{% load django_bootstrap5%}

{% block title %}
Change Password
{% endblock %}

{% block header %}
<div class="jumbotron bg-dark text-light pt-1 pb-3 text-center display-4 mt-5 mb-0">
	<h2>Change Password</h2>
</div>
{% endblock %}

{% block content %}
<div class="container">
	 <form method="post" action="{% url 'password_change' %}">
	        {% csrf_token %}
	        {% bootstrap_form form %}
	        {% bootstrap_button button_type="submit" button_class="btn btn-dark" content="Update Password" %}
	        <input type="hidden" name="next" value="{% url 'index' %}"/>
	</form>
</div>
{% endblock %}
